---
import { Icon } from "astro-icon/components";
interface Props {
    tags: string[];
}
const { tags } = Astro.props;
---

<span class="flex flex-wrap justify-start">
    {
        tags.map((tag) => (
            <a
                class="no-underline mr-1 my-1 px-2 py-1 border border-[#a1a1a1] rounded-lg bg-bg_emphasis-light dark:bg-bg_emphasis"
                href={`/tags/${tag}`}
            >
                <Icon name="mdi:tag-multiple" class="inline" />
                {tag}
            </a>
        ))
    }
</span>
