---
import {Icon} from "astro-icon/components";
---

<footer class="w-full bg-slate-200">
    <div class="flex items-center justify-around h-16">
        <div class="flex items-center justify-around w-full lg:w-[100ch]">
            <a class="text-black" href="https://www.meetup.com/saint-louis-unix-users-group">
                <Icon name="mdi:meetup" size={50} />
            </a>
            <a class="text-black" href="https://www.youtube.com/@SluugOrg">
                <Icon name="mdi:youtube" size={50} />
            </a>
            <a class="text-black" href="https://twitter.com/sluug_org">
                <Icon name="mdi:twitter" size={50} />
            </a>
            <a class="text-black" href="/rss.xml">
                <Icon name="mdi:rss" size={50} class="inline ml-2"/>
            </a>
        </div>
    </div>
</footer>
