---
// Header for large and extra large devices
import { SLUUG_LOGO_ALT, STLLUG_LOGO_ALT } from "@/constants.ts";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import sluugOrgLogo from "../../images/SLUUG-Logo.png";
import stllugLogo from "../../images/STLLUG-Logo.png";
---

<div class="w-full">
    <div class="lg:flex items-center justify-evenly py-6">
        <div class="w-[75rem] flex items-center justify-between">
            <a href="/meetings/sluug/1">
                <Image src={sluugOrgLogo} alt={SLUUG_LOGO_ALT} width="80" loading="lazy" decoding="async" />
            </a>
            <h1>Stl Linux Unix Users Group</h1>
            <a href="/meetings/stllug/1">
                <Image src={stllugLogo} alt={STLLUG_LOGO_ALT} width="100" loading="lazy" decoding="async" />
            </a>
        </div>
    </div>
    <nav class="bg-bg_emphasis-light dark:bg-bg_emphasis mb-3">
        <div class="w-full flex justify-center">
            <div class="h-16 w-full lg:w-[75rem] flex items-center">
                <ul class="w-full flex flex-row items-center justify-around">
                    <li class="text-xl font-bold">
                        <a class="no-underline" href="/meetings/1">Home</a>
                    </li>
                    <li class="text-xl font-bold">
                        <a class="no-underline" href="/about/">About</a>
                    </li>
                    <li class="text-xl font-bold">
                        <a class="no-underline" href="/presenters/">Presenters</a>
                    </li>
                    <li class="text-xl font-bold">
                        <a class="no-underline" href="/resources/">Resources</a>
                    </li>
                    <li class="text-xl font-bold">
                        <a class="no-underline" href="/tags/"><Icon name="mdi:search" size={35} class="inline" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
