@tailwind base;

@layer base {
    h1 {
        @apply text-4xl;
    }
    h2 {
        @apply text-3xl mt-4 mb-2;
    }
    h3 {
        @apply text-2xl;
    }
    h4 {
        @apply text-xl;
    }
    a {
        @apply text-link-light dark:text-link-dark underline;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --pagefind-ui-text: #cccccc;
            --pagefind-ui-background: #181818;
            --pagefind-ui-border: #181818;
        }
    }
}

@tailwind components;

@tailwind utilities;
