---
import SluugListing from '../../components/SluugListing.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
    const allSluugMeetings: any = await Astro.glob('../sluug/*-sluug.md');
    const uniqueTags = [...new Set(allSluugMeetings.map((meeting: any) => meeting.frontmatter.tags).flat())];
    return uniqueTags.map((tag) => {
        const filteredPosts = allSluugMeetings.filter((meeting: any) => meeting.frontmatter.tags.includes(tag));
        return {
            params: { tag },
            props: { meetings: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { meetings } = Astro.props;
---

<BaseLayout pageTitle={tag}>
    <p>Posts tagged with {tag}</p>
    <ul>
        {
            meetings.map((meeting: any) => (
                <SluugListing
                    url={meeting.url}
                    meetingDate={new Date(meeting.frontmatter.meetingDate).toISOString().slice(0, 10)}
                />
            ))
        }
    </ul>
</BaseLayout>
