---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Tags from "@/components/presentation/Tags.astro";
import type { Presentation } from "@/content/config";
const allMeetings = await getCollection("meetings");
const uniqueTags = [
    ...new Set([
        ...allMeetings
            .map((meeting) => meeting.data.presentations.map((presentation: Presentation) => presentation.tags))
            .flat()
            .flat(),
    ]),
].sort((a, b) => a.localeCompare(b));
const pageTitle = "Search & Tags";
---

<head>
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
    <script is:inline src="/pagefind/pagefind-ui.js"></script>
</head>

<BaseLayout pageTitle={pageTitle}>
    <div id="search" class="my-4"></div>
    <div data-pagefind-ignore>
        <Tags tags={uniqueTags} />
    </div>
</BaseLayout>

<script>
    document.addEventListener("astro:page-load", () => {
        //@ts-ignore
        new PagefindUI({ element: "#search", showSubResults: true, autofocus: true });
    });
</script>
