---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
const allMeetings = await getCollection('meetings');
const uniqueTags = [
    ...new Set([
        ...allMeetings.map((meeting) => meeting.data.main.tags).flat(),
        ...allMeetings
            .map((meeting) => meeting.data.base)
            .filter((base): base is Exclude<typeof base, null | undefined> => Boolean(base))
            .map((base) => base.tags)
            .flat(),
    ]),
];
const pageTitle = 'Tag Index';
---

<BaseLayout pageTitle={pageTitle}>
    <div class="tags">
        {
            uniqueTags.map((tag) => (
                <p class="tag">
                    <a href={`/tags/${tag}`}>{tag}</a>
                </p>
            ))
        }
    </div>
</BaseLayout>

<style>
    a {
        color: #00539f;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: 0.5em;
        padding: 0.5em 1em;
        font-size: 1.15em;
        background-color: #f8fcfd;
    }
</style>
