---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Tags from "@/components/presentation/Tags.astro";
import type { Presentation } from "@/content/config";
import { STLLUG_LOGO_ALT } from "@/constants";
import stllugLogo from "@/images/STLLUG-Logo.png";

const allMeetings = await getCollection("meetings");
const uniqueTags = [
    ...new Set([
        ...allMeetings
            .map((meeting) => meeting.data.presentations.map((presentation: Presentation) => presentation.tags))
            .flat()
            .flat(),
    ]),
].sort((a, b) => a.localeCompare(b));
const pageTitle = "Search & Tags";
---

<head>
    <meta name="twitter:card" content="player" />
    <meta property="twitter:image" content={Astro.site + stllugLogo.src} />
    <meta property="og:url" content={Astro.site + Astro.url.pathname} />"
    <meta property="og:image" content={Astro.site + stllugLogo.src} />
    <meta property="og:title" content={"Stl Linux Unix Users Group Tags"} />
    <meta property="og:description" content={"Search or Browse topics covered at the Stl Linux Unix Users Group."} />
    <meta property="og:image:alt" content={Astro.site + STLLUG_LOGO_ALT} />
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="1024" />
</head>

<head>
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
    <script is:inline src="/pagefind/pagefind-ui.js"></script>
</head>

<BaseLayout pageTitle={pageTitle}>
    <div id="search" class="my-4"></div>
    <div data-pagefind-ignore>
        <Tags tags={uniqueTags} />
    </div>
</BaseLayout>

<style>
    @media (prefers-color-scheme: dark) {
        :root {
            --pagefind-ui-text: #cccccc;
            --pagefind-ui-background: #181818;
            --pagefind-ui-border: #181818;
        }
    }
</style>
<script>
    document.addEventListener("astro:page-load", () => {
        //@ts-ignore
        new PagefindUI({ element: "#search", showSubResults: true, autofocus: true });
    });
</script>
