---
import { getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
const allPresenters = await getCollection('presenters');
const uniquePresenters = [...new Set(allPresenters)].sort((a, b) =>
    a.data.presenterName.localeCompare(b.data.presenterName),
);
const pageTitle = 'Presenters';
---

<BaseLayout pageTitle={pageTitle}>
    <h1 class="text-center">{pageTitle}</h1>
    <p>
        The atypical SLUUG member is quite extraordinary. So are our presenters. Some are employed in the Information
        Technology field. Some are not; but, are very interested in IT. Some are well educated. Some are not; but, are
        extremely experienced. Some SLUUG members have families. Some have non-technical hobbies, interests and even
        pets.
    </p>
    <div>
        {
            uniquePresenters.map((presenter) => (
                <ul class="flex items-center">
                    <li>
                        <a href={`/presenters/${presenter.slug}`}>{presenter.data.presenterName}</a>
                    </li>
                </ul>
            ))
        }
    </div>
</BaseLayout>
