---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'About Us';
---

<BaseLayout pageTitle={pageTitle}>
    <p><strong>Who We Are</strong></p>
    <p>
        The Saint Louis Unix Users Group (SLUUG) is an IRS 501c(6) designated not-for-profit professional association
        dedicated to education and communication among computer users. SLUUG members include many Linux and UNIX
        professionals, Networking experts, System experts, hobbyists, and students. Also, many who are interested in
        Unix, Unix-like Operating Systems, Linux, BSD and other Free Open Source Software (FOSS) applications, products,
        projects and services.
    </p>
    <p>
        We have met continuously since we incorporated in July 1992. All of our meetings are free and open to the
        public. There is no individual membership fee.
    </p>
    <p><strong>What We Do</strong></p>
    <p>SLUUG hosts <strong>5</strong> monthly meetings.</p>
    <ul>
        <li>
            The <em>SLUUG Steering Committee (STEERCOM)</em> meets on the <strong>first Monday</strong> of each month.
        </li>
        <li>
            The <a href="https://slacc.sluug.org/">St. Louis Area Computer Club (SLACC)</a> meets on the <strong
                >first Thursday</strong
            > of each month.
        </li>
        <li>
            The <a href="/sluug/">St. Louis Unix Users Group (SLUUG)</a> meets on the <strong>second Wednesday</strong>
            of each month.
        </li>
        <li>
            The <a href="/stllug/">St. Louis Linux Users Group (STLLUG)</a> meets <strong>eight days after SLUUG</strong
            >. This is typically the <em>third Thursday</em> of each month.
        </li>
        <li>
            The <a href="https://newlug.sluug.org/">New Linux Users Group (NEWLUG)</a> meets on the <strong
                >fourth Tuesday</strong
            > of each month.
        </li>
    </ul>
</BaseLayout>
