<a href="/">Home</a>
<a href="/blog/">Blog</a>
<a href="/about/">About</a>

<h1>About Us</h1>
<p><strong>Who We Are</strong></p>
<p>The Saint Louis Unix Users Group (SLUUG) is an IRS 501c(6) designated not-for-profit professional association dedicated to education and communication among computer users. SLUUG members include many Linux and UNIX professionals, Networking experts, System experts, hobbyists, and students. Also, many who are interested in Unix, Unix-like Operating Systems, Linux, BSD and other Free Open Source Software (FOSS) applications, products, projects and services. </p>
<p>We have met continuously since we incorporated in July 1992. All of our meetings are free and open to the public. There is no individual membership fee. </p>
<p><strong>What We Do</strong></p>
<p>SLUUG hosts <strong>5</strong> monthly meetings.</p>
<ul>
    <li>The <em>SLUUG Steering Committee</em> meets on the <strong>first Monday</strong> of each month.</li>
    <li>The <em>St. Louis Area Computer Club (SLACC)</em> meets on the <strong>first Thursday</strong> of each month.</li>
    <li>The <em>St. Louis Unix Users Group (STLLUG)</em> meets on the <strong>second Wednesday</strong> of each month.</li>
    <li>The <em>St. Louis Linux Users Group (SLUUG)</em> meets on the <strong>third Thursday</strong> of each month.</li>
    <li>The <em>New Linux Users Group (NEWLUG)</em> meets on the <strong>fourth Tuesday</strong> of each month.</li>
</ul>