---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
const pageTitle = "About SLUUG";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Who We Are</h2>
    <p>
        The Saint Louis Unix Users Group (SLUUG) is an IRS 501c(6) designated not-for-profit professional association
        dedicated to education and communication among computer users. SLUUG members include many Linux and UNIX
        professionals, Networking experts, System experts, hobbyists, and students. Also, many who are interested in
        Unix, Unix-like Operating Systems, Linux, BSD and other Free Open Source Software (FOSS) applications, products,
        projects and services.
    </p>
    <p>
        We have met continuously since we incorporated in July 1992. All of our meetings are free and open to the
        public. There is no individual membership fee.
    </p>
    <h2>What We Do</h2>
    <p>SLUUG hosts <strong>5</strong> monthly meetings.</p>
    <ul>
        <li>
            The <a href="https://www.sluug.org/steercom/">SLUUG Steering Committee (STEERCOM)</a> meets on the <strong
                >first Monday</strong
            > of each month.
        </li>
        <li>
            The <a href="https://slacc.sluug.org/">St. Louis Area Computer Club (SLACC)</a> meets on the <strong
                >first Thursday</strong
            > of each month.
        </li>
        <li>
            The <a href="/meetings/sluug/1">St. Louis Unix Users Group (SLUUG)</a> meets on the <strong
                >second Wednesday</strong
            >
            of each month.
        </li>
        <li>
            The <a href="/meetings/stllug/1">St. Louis Linux Users Group (STLLUG)</a> meets <strong
                >eight days after SLUUG</strong
            >. This is typically the <em>third Thursday</em> of each month.
        </li>
        <li>
            The <a href="https://newlug.sluug.org/">New Linux Users Group (NEWLUG)</a> meets on the <strong
                >fourth Tuesday</strong
            > of each month.
        </li>
    </ul>
    <h2>Socials</h2>
    <span class="flex flex-col">
        <a
            class="no-underline"
            href="https://www.meetup.com/saint-louis-unix-users-group"
            target="_blank"
            rel="noopener noreferrer"
        >
            <Icon class="inline" name="mdi:meetup" size={35} />
            MeetUp (saint-louis-unix-users-group)
            <Icon class="inline" name="mdi:open-in-new" size={15} />
        </a>
        <a class="no-underline" href="https://www.youtube.com/@SluugOrg" target="_blank" rel="noopener noreferrer">
            <Icon class="inline" name="mdi:youtube" size={30} />
            YouTube (SluugOrg)
            <Icon class="inline" name="mdi:open-in-new" size={15} />
        </a>
        <a class="no-underline" href="https://twitter.com/sluug_org" target="_blank" rel="noopener noreferrer">
            <Icon class="inline" name="mdi:twitter" size={30} />
            Twitter (@SLUUG_Org)
            <Icon class="inline" name="mdi:open-in-new" size={15} />
        </a>
        <a class="no-underline" rel="me" href="https://mastodon.social/@SLUUG_Org" target="_blank" rel="noopener noreferrer">
            <Icon class="inline" name="mdi:mastodon" size={30} />
            Mastodon (@SLUUG_Org@mastodon.social)
            <Icon class="inline" name="mdi:open-in-new" size={15} />
        </a>
    </span>
    <h2>Contacts</h2>
    <table border="1" cellpadding="4" width="80%">
        <thead>
            <tr>
                <th style="text-align: left;">Role</th>
                <th style="text-align: left;">Name</th>
                <th style="text-align: left;">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>President</td>
                <td><a href="/presenters/gary-meyer">Gary Meyer</a></td>
                <td><a href="mailto:president@sluug.org?subject=SLUUG President">president@sluug.org</a></td>
            </tr>
            <tr>
                <td>Vice President</td>
                <td><a href="/presenters/stan-reichardt">Stan Reichardt</a></td>
                <td
                    ><a href="mailto:vice-president@sluug.org?subject=SLUUG Vice-President">vice-president@sluug.org</a
                    ></td
                >
            </tr>
            <tr>
                <td>Secretary</td>
                <td><a href="/presenters/ken-johnson">Ken Johnson</a></td>
                <td><a href="mailto:secretary@sluug.org?subject=SLUUG Secretary">secretary@sluug.org</a></td>
            </tr>
            <tr>
                <td>Treasurer</td>
                <td><a href="/presenters/lee-lammert">Lee Lammert</a></td>
                <td><a href="mailto:treasurer@sluug.org?subject=SLUUG Treasurer">treasurer@sluug.org</a></td>
            </tr>
            <tr>
                <td>Board of Directors</td>
                <td><a href="/presenters/james-conroy">James Conroy</a></td>
                <td><a href="mailto:board@sluug.org?subject=SLUUG Board Issue">board@sluug.org</a></td>
            </tr>
            <tr>
                <td>Board of Directors</td>
                <td><a href="/presenters/lee-lammert">Lee Lammert</a></td>
                <td><a href="mailto:board@sluug.org?subject=SLUUG Board Issue">board@sluug.org</a></td>
            </tr>
            <tr>
                <td>Board of Directors</td>
                <td><a href="/presenters/steve-stegmann">Steve Stegmann</a></td>
                <td><a href="mailto:board@sluug.org?subject=SLUUG Board Issue">board@sluug.org</a></td>
            </tr>
            <tr>
                <td>Board of Directors</td>
                <td><a href="/presenters/sean-twiehaus">Sean Twiehaus</a></td>
                <td><a href="mailto:board@sluug.org?subject=SLUUG Board Issue">board@sluug.org</a></td>
            </tr>
        </tbody>
    </table>
    <h2>Departments</h2>
    <table border="1" cellpadding="4" width="80%">
        <thead>
            <tr>
                <th style="text-align: left;">Purpose</th>
                <th style="text-align: left;">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>General Information</td>
                <td><a href="mailto:info@sluug.org?subject=SLUUG General Information">info@sluug.org</a></td>
            </tr>
            <tr>
                <td>Editors (Calendar, Announce, Archive)</td>
                <td> <a href="mailto:editor@sluug.org?subject=SLUUG Newsletter Editor">editor@sluug.org</a></td>
            </tr>
            <tr>
                <td>Web Devs</td>
                <td> <a href="mailto:webmaster@sluug.org?subject=SLUUG Web Site">webmaster@sluug.org</a></td>
            </tr>
        </tbody>
    </table>

    <h2>Mailing Address</h2>
    <p>St. Louis Unix Users Group</p>
    <p>PO Box 411302</p>
    <p>St. Louis, MO 63141</p>
</BaseLayout>
