---
import '../styles/global.css';

const pageTitle = 'SLUUG';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{pageTitle}</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/sluug/">SLUUG</a>
        <a href="/about/">About</a>

        <h1>St. Louis Unix Users Group (SLUUG)</h1>

        <h2>Meetings</h2>
        <ul>
            <li><a href="/sluug/2021-02-10-sluug/">SLUUG - 2021-02-10</a></li>
            <li><a href="/sluug/2021-03-10-sluug/">SLUUG - 2021-03-10</a></li>
            <li><a href="/sluug/2021-04-14-sluug/">SLUUG - 2021-04-14</a></li>
        </ul>
    </body>
</html>
