---
import Social from './Social.astro';
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <p>
        <Social platform="Meetup" username="saint-louis-unix-users-group" />
        <Social platform="YouTube" username="Sluug_Org" />
        <Social platform="Twitter" username="Sluug_Org" />
    </p>
</footer>
