---
import { getDisplayDate, getMeetingName } from "@/buildTimeUtils";
import type { MeetingType } from "@/content/config";
import { Icon } from "astro-icon/components";

interface Props {
    meetingType: MeetingType;
    meetingDate: Date;
    meetupUrl?: string | undefined;
}

const { meetingType, meetingDate, meetupUrl } = Astro.props;

const meetingName = getMeetingName(meetingType);
---

<div>
    <p
        class="text-txt_subtle-light dark:text-txt_subtle text-sm font-medium leading-relaxed mt-3 mb-0 flex justify-between"
    >
        {getDisplayDate(meetingDate)}
        {
            meetupUrl && (
                <a href={meetupUrl} class="flex no-underline" target="_blank" rel="noopener noreferrer">
                    <Icon name="mdi:meetup" class="inline text-xl" />
                    Meetup
                </a>
            )
        }
    </p>
    <h2 class="mt-0 mb-2">
        {meetingName}
    </h2>
</div>
