---
import { getCollection } from 'astro:content';

interface Props {
    presenterName: string;
}
const { presenterName } = Astro.props;
console.log(presenterName);
const presenters = await getCollection('presenters', ({data}) => data.presenterName.toUpperCase() === presenterName.toUpperCase());
console.log(presenters)
const presenter = presenters[0]
---
<p>
    <strong>By: </strong>
    { presenter ? <a href=`/presenters/${presenter.slug}`>{presenter.data.presenterName}</a> : presenterName }
</p>
