---
// This component only exists to style the Prestenter MDX files.
// https://docs.astro.build/en/recipes/tailwind-rendered-markdown/
---

<div class="prose-ul:list-disc prose-ul:list-inside">
    <slot />
</div>
