---
import { Icon } from "astro-icon/components";
---

<h2 class="mt-8">
    SLUUG Calendar{" "}
    <a
        href="https://calendar.google.com/calendar/embed?title=SLUUG+events&height=1350&wkst=1&src=2msihq4sam6cr99ec5p0e0viv8@group.calendar.google.com&color=%2329527A&src=9526deac063a56a7acf07a9c7d8362da769ed90b11d64099608ccddbc0714bc5@group.calendar.google.com&color=%2329527A&src=p6lp304ra5bq7bga1cemg1uj74@group.calendar.google.com&color=%23A32929&ctz=America/Chicago"
        target="_blank"
        rel="noopener noreferrer"
    >
        <Icon class="inline" name="mdi:open-in-new" />
    </a>
</h2>
<iframe
    class="mb-8 w-full h-[50rem] hidden lg:block"
    src="https://calendar.google.com/calendar/embed?title=SLUUG+events&height=800&wkst=1&src=2msihq4sam6cr99ec5p0e0viv8@group.calendar.google.com&color=%2329527A&src=9526deac063a56a7acf07a9c7d8362da769ed90b11d64099608ccddbc0714bc5@group.calendar.google.com&color=%2329527A&src=p6lp304ra5bq7bga1cemg1uj74@group.calendar.google.com&color=%23A32929&ctz=America/Chicago&showPrint=0"
></iframe>
<iframe
    class="mb-8 w-full h-[30rem] lg:hidden"
    src="https://calendar.google.com/calendar/embed?height=480&title=SLUUG+events&wkst=1&src=2msihq4sam6cr99ec5p0e0viv8@group.calendar.google.com&color=%2329527A&src=9526deac063a56a7acf07a9c7d8362da769ed90b11d64099608ccddbc0714bc5@group.calendar.google.com&color=%2329527A&src=p6lp304ra5bq7bga1cemg1uj74@group.calendar.google.com&color=%23A32929&ctz=America/Chicago&mode=AGENDA&showPrint=0&showNav=0"
></iframe>
