---
interface Props {
    tags: string[];
}
const { tags } = Astro.props;
---

<div class="tags">
    {
        tags.map((tag) => (
            <p class="tag">
                <a href={`/tags/${tag}`}>{tag}</a>
            </p>
        ))
    }
</div>

<style>
    a {
        color: #00539f;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        margin-left: 1.5em;
        margin-top: -0.5em;
        margin-bottom: 1.5em;
    }

    .tag {
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: 0.5em;
        padding: 0.2em 0.2em;
        background-color: #f8fcfd;
    }
</style>
