---
import { Icon } from 'astro-icon/components';
interface Props {
    tags: string[];
}
const { tags } = Astro.props;
---

<span class="tags">
    {
        tags.map((tag) => (
            <a class="tag" href={`/tags/${tag}`}>
                <Icon name="mdi:tag-multiple" class="inline" />
                {tag}
            </a>
        ))
    }
</span>

<style>
    a {
        color: #00539f;
        text-decoration: none;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: 0.5em;
        padding: 0.2em 0.2em;
        background-color: #f8fcfd;
    }
</style>
