---
import Footer from "@/components/core/Footer.astro";
import Header from "@/components/core/Header.astro";
import "@/styles/base.css";
import { ViewTransitions } from "astro:transitions";
const { pageTitle } = Astro.props;
---

<html lang="en" class="h-full">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/webp" href="/favicon.webp" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="Stl Linux Unix Users Group"
            href={`${Astro.site}rss.xml`}
        />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <title>{pageTitle}</title>
        <ViewTransitions fallback="swap" />
        <script is:inline>
            // Dark theme by default
            document.documentElement.classList.add("dark");
            document.body.classList.add("dark");
            if (window.matchMedia("(prefers-color-scheme: light)")) {
                document.documentElement.classList.remove("dark");
                document.body.classList.remove("dark");
            }
        </script>
    </head>
    <body
        class="flex items-center flex-col min-h-screen bg-bg_normal-light text-txt_normal-light dark:bg-bg_normal dark:text-txt_normal"
    >
        <Header />
        <main class="grow w-full lg:max-w-[75rem] px-2">
            <slot />
        </main>
        <Footer />
    </body>
</html>
